body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background-color: #777;
    width: 960px;
    font-size: 18px;
    text-align: center;
    margin-left: 200px;
}

header {
    padding: 20px;
    margin-bottom: 10px;
    background-color: #ebebeb;
}

nav {
    padding: 20px;
    margin-bottom: 10px;
    background-color: #ebebeb;
}

section {
    
    margin-top: 10px;
    border: #777;
    padding: 10px;
    float: left;
    height: 280px;
    width: 495px;
    background-color: #ebebeb;
}

#article {
    top: 320px;
    left: 210px;
    position: absolute;
    width: 496px;
    height: 200px;
    color: #ebebeb;
    background: #777;
}

#h1 {
    font-weight: bold;
    margin: 20px;
    top: 370px;
    left: 210px;
    position: absolute;
    width: 456px;
    height: 50px;
    color: #777;
    background: #ebebeb;
}

#p {
    margin: 20px;
    top: 430px;
    left: 210px;
    position: absolute;
    width: 456px;
    height: 50px;
    color: #777;
    background: #ebebeb;
}
aside {
    margin-top: 10px;
    padding: 10px;
    float: right;
    height: 280px;
    width: 42%;
    background-color: #ebebeb;
}

footer {
    width: 920px;
    float: left;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #ebebeb;
}